<h3>Pragmatic Order Shipped</h3>
<p>
  This is just to let you know that we've shipped your recent order:
</p>
<ul style="margin-top: 1rem; padding-left: 0; list-style: none;">
  <%= render partial: "order_mailer/line_item", collection: @order.line_items, as: :line_item %>
</ul>
